[
    {lager, [
        {handlers, [
            {lager_console_backend, [info, {lager_default_formatter, [{eol, "\r\n"}]}]},
            %% file is shadowed by ejabberd.cfg
            {lager_file_backend, [{file, "log/ejabberd.log"}, {level, info}, {size, 2097152}, {date, "$D0"}, {count, 5}]}
        ]}
    ]},
    %% config for application apns
    {ejabberd, [
        {apple_host, {{apns_apple_host}} },
        {apple_port, 2195},
        {cert_file, {{apns_cert_file}} },
        {key_file, undefined},
        {cert_password, undefined},
        {timeout, {{apns_timeout}} },
        {feedback_port, 2196},
        {feedback_host, {{apns_feedback_host}} },
        {feedback_timeout, {{apns_feedback_timeout}} },
        {upload_secret, {{upload_secret}} },
        {s3_key, {{s3_key}} },
        {s3_secret, {{s3_secret}} },
        {s3_timeout, {{s3_timeout}} },
        {s3_host, {{s3_host}} },
        {s3_bucket, {{s3_bucket}} },
        {s3_public_bucket, {{s3_public_bucket}} }
    ]}
].

%% vim: filetype=erlang
