[
    {lager, [
        {handlers, [
            {lager_console_backend, [info, {lager_default_formatter, [{eol, "\r\n"}]}]},
            %% file is shadowed by ejabberd.cfg
            {lager_file_backend, [{file, "log/ejabberd.log"}, {level, info}, {size, 2097152}, {date, "$D0"}, {count, 5}]}
        ]}
    ]},
    %% config for application apns
    {apns, [
        {apple_host, "gateway.sandbox.push.apple.com"},
        {apple_port, 2195},
        {cert_file, "kissnapp_apns_dev.pem"},
        {key_file, undefined},
        {cert_password, undefined},
        {timeout, 30000},
        {feedback_port, 2196},
        {feedback_host, "feedback.sandbox.push.apple.com"},
        {feedback_timeout, 18000000}
    ]}
].

%% vim: filetype=erlang
